{% if page.title %}
{% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
{% capture title %}{{ site.title }}{% endcapture %}
{% endif %}

<head>
  <title>{{ title }}</title>
  {% include google_analytics.html %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{ site.user.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" media="all">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
    href="{{ '/feed.xml' | relative_url }}" />

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/x-icon" />

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i" rel="stylesheet">
</head>